@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

:root {
  --color-red: #f4511e;
  --header-size: 200px;
  --footer-size: 56px;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: var(--header-size);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
  max-width: 570px;
  margin: 0 auto;
}
header h1 {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  line-height: 1.2;
}
header p {
  font-family: sans-serif;
  color: rgba(0,0,0,0.54);
}
header code {
  box-sizing: border-box;
  padding: 1px 4px 0 4px;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  white-space: nowrap;
}


footer {
  box-sizing: border-box;
  height: var(--footer-size);
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
}
footer .inner {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
}
footer .inner div {
  box-sizing: border-box;
  text-align: center;
  padding: 0 12px;
}
footer h4 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  color: #FFF;
}
footer a {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  color: #FFF;
}

main, .prize {
  height: calc(calc(100vh - var(--header-size)) - var(--footer-size));
  width: 100%;
  max-width: calc(1000px / 4);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

main.hidden {
  opacity: 0;
}

.prize {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 126px;
}
.prize h2 {
  font-size: 32px;
  font-family: 'Press Start 2P', sans-serif;
  color: var(--color-red);
  margin: 0;
  line-height: 1;
}

.inputs {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: scale(.7);
}

.inputs > div {
  --size: 100px;
  margin: 12px;
  width: var(--size);
  height: var(--size);
}

.inputs > div > svg > path.fixed {
  fill: rgba(0,0,0,0.32);
  /* stroke-width: 4px; */
  z-index: 1;
}
.inputs > div > svg > path:not(.fixed) {
  transition: 250ms ease-out all;
  fill: none;
  stroke-width: 2px;
  opacity: 0.5;
  z-index: -1;
  stroke: var(--color-red);

  opacity: 0;
  transform-origin: center center;
}

.inputs > div > svg {
  overflow: visible;
}

.inputs > div.active > svg > path.fixed {
  fill: var(--color-red);
  stroke: transparent;
}
.inputs > div.active > svg > path:not(.fixed) {
  display: block;
  opacity: 1;
  transform: scale(1.5);
  animation: 150ms 100ms fade forwards;
}

div.up.active > svg > path:not(.fixed) {
  transform: translateY(-70px);
}
div.down.active > svg > path:not(.fixed) {
  transform: translateY(70px);
}
div.left.active > svg > path:not(.fixed) {
  transform: translateX(-70px);
}
div.right.active > svg > path:not(.fixed) {
  transform: translateX(70px);
}
div.B.active > svg > path:not(.fixed) {
  transform: scale(1.75);
}
div.A.active > svg > path:not(.fixed) {
  transform: scale(1.75);
}
@media only screen and (min-width: 555px) {
  header {
    margin-bottom: calc(var(--header-size) / -4);
  }
  main {
    padding-bottom: calc(var(--header-size) / 4);
  }
}

@media only screen and (min-width: 1180px) {
  main {
    max-width: 1180px;
  }
  footer {
    justify-content: center;
  }
  .inputs {
    transform: scale(1);
  }

  .inputs > div {
    margin: 0;
  }
}
